{% extends "blog/base.html" %}

{%block content%}
    <div class="alert alert-info">
        Your password has been successfully reset.
        {% if not request.user.is_authenticated %}
        Returning to the login page...
        {% else %}
        Redirecting to your profile...
        {% endif %}


    </div>
    {% if not request.user.is_authenticated %}
        <script>
            setTimeout(function() {
                window.location.href = "{% url 'login' %}";
            }, 4000);
        </script>
    {% else %}
        <script>
            setTimeout(function() {
                window.location.href = "{% url 'profile' %}";
            }, 5000);
        </script>
    {% endif %}
{% endblock content%}
